body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto; 
}

.top-bar {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.content {
    padding: 20px;
    text-align: center;
}

.carousel-container {
    width: 100%;
    overflow: hidden; 
  }

.carousel {
    display: flex;
    width: calc(100% * 3);
    height: 75vh; 
}

.carousel-images {
    display: flex;
    width: calc(100% / 3 * 6); 
}

.carousel-images img {
    width: 300px;
    height: 600px; 
}

.titulo-container {
    text-align: center;
}

.titulo-destaque {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #6b0f88;
    color: white;
    pointer-events: none;
}

.classificacao {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: inline-block;
  padding: 7px 7px;
  border: none;
  border-radius: 20px;
  background-color: #6b0f88;
  color: white;
  pointer-events: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .filme {
    position: relative;
    width: 300px;
    height: 700px;
    margin-bottom: 20px;
    border: 1px solid #a968bd;
    border-radius: 5px;
    padding: 10px;
}

  .filme img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .pagination {
    justify-content: center !important;
  }
  .page-item.disabled .page-link {
    background-color: rgb(184, 148, 184) !important;
    color: white !important;
  }
  .page-link {
    background-color: purple !important;
    color: white !important;
    border-color: rgb(255, 255, 255) !important;
  }
  .page-link.disabled {
    background-color: rgb(184, 148, 184) !important;
    color: white !important;
    border-color: rgb(255, 255, 255) !important;
  }

  .page-link:hover {
    background-color: #6b0f88 !important; 
    color: white !important;
    border-color: #6b0f88 !important; 
  }